html {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    a {
        color: $brand-alternative;

        &:hover, &:active {
            color: darken($brand-alternative, 15%);
            text-decoration: none;
        }
    }
}

img {
    max-width: 100%;
    height: 100%;
}
